<ng-template #loadingTemplate>
  <div class="container-spinner">
    <app-spinner [width]="80" [height]="80"></app-spinner>
    @if (message) {
      <h3 class="loading-text">{{ message | translate }}</h3>
    }
  </div>
</ng-template>
<ng-container #loadingContainer></ng-container>
@defer (when !loadingFirst) {
  <app-layout>
    <div sidenav-content>
      <div class="sidenav-side">
        <app-side-nav></app-side-nav>
      </div>
    </div>
    <div main-content id="main-content">
      <app-chat-container></app-chat-container>
    </div>
  </app-layout>
}

@defer {
  <!-- <app-layout-management></app-layout-management> -->
}
