$font-display-05: 5px;
$font-display-06: 6px;
$font-display-08: 8px;
$font-display-10: 10px;
$font-display-11: 11px;
$font-display-12: 12px;
$font-display-14: 14px;
$font-display-16: 16px;
$font-display-18: 18px;
$font-display-20: 20px;
$font-display-22: 22px;
$font-display-24: 24px;
$font-display-25: 25px;
$font-display-32: 32px;
$font-display-40: 40px;
$font-display-48: 48px;
