[data-theme='light'] {
  --plus: url('/assets/icons/positive/plus-white.svg');
  --logo-latam-contrast: url('/assets/pics/Logo-LATAM.svg');
  --logo-latam-isotype-mobile: url('/assets/pics/Isotype-LATAM.svg');
  --icon-library-header: url('/assets/icons/positive/icon-library-blue.svg');
  --icon-user-header: url('/assets/icons/positive/icon-user-blue.svg');
  --icon-sheet-header: url('/assets/icons/positive/icon-sheet-black.svg');
  --icon-help-header: url('/assets/icons/positive/icon-help-blue.svg');
  --icon-help: url('/assets/icons/help-grey.svg');
  --icon-help-settings: url('/assets/icons/setting-black.svg');
  --icon-tour-header: url('/assets/icons/positive/icon-tour-black.svg');
  --icon-help-chat-header: url('/assets/icons/positive/icon-help-chat-black.svg');
  --icon-update-header: url('/assets/icons/positive/icon-update-black.svg');
  --icon-report-header: url('/assets/icons/positive/icon-report-black.svg');
  --icon-side-nav-left: url('/assets/icons/positive/sidenav-left.svg');
  --icon-side-nav-right: url('/assets/icons/positive/sidenav-right.svg');
  --icon-assistant: url('/assets/icons/positive/copilot-icon.png');
  --icon-check: url('/assets/icons/positive/icon-check-blue.svg');
  --icon-website-anchor: url('/assets/icons/positive/icon-website-anchor.svg');
  --stop: url('/assets/icons/positive/stop-blue.svg');
  --icon-add-photo: url('/assets/icons/positive/scan.svg');
  --icon-warning: url('/assets/icons/positive/warning-blue.svg');
  --icon-edit-avatar: url('/assets/icons/positive/edit-avatar-blue.svg');
  --icon-close-modal: url('/assets/icons/icon-close-modal.svg');
  --color-primary: #2316a6;
  --color-secondary: #ed1650;
  --color-terciary: #ffffff;
  --color-terciary-menu: #303030;
  --color-bg: #ffffff;
  --color-bg-chat: #f3f6fc;
  --color-text: #1b0088;
  --btn-secondary: #ed1650;
  --btn-secondary-text: #ffffff;
  --btn-secondary-border: 0px solid #ffffff;
  --btn-color-hover_header: #f3f6fc;
  --btn-color-hover_chat: #f3f6fc;
  --color-background-secondary: #f3f6fc;
  --btn-color-options-help: #f3f6fc;
  --color-background-secondary: #f3f6fc;
  --color-background-input: #f3f6fc;
  --color-background-terciary: #ffffff;
  --color-scrollbar: #1b0088;
  --color-scrollbar-bg: #ffffff;
  --color-button-background-primary: #1b0088;
  --color-button-background-secondary: #1b0088;
  --color-button-border-primary: #ed1650;
  --color-button-background-hover-primary: #ed1650;
  --color-button-text-primary: #ed1650;
  --color-text-messages: #10004f;
  --btn-action-input: #1b0088;
  --a-color: #4658df;
  --a-color-visited: #664194;
  --border-color: #6b6b6b;
  --color-label-experimental: #1b0088;
  --color-help-background-title: #efefef;
  --color-button-text-hover-secondary: #6b6b6b;
  --color-background-disclaimer: #eceefd;
  --color-background-profile-modal: #1b0088;
  --color-user-icons: #cdd2f6;
  --shadow-card-prompt-example: rgba(45, 52, 206, 0.2);
}

[data-theme='dark'] {
  --plus: url('/assets/icons/negative/plus-black.svg');
  --logo-latam-contrast: url('/assets/pics/Logo-LATAM-negative.svg');
  --icon-library-header: url('/assets/icons/negative/icon-library-white.svg');
  --icon-user-header: url('/assets/icons/negative/icon-user-white.svg');
  --icon-sheet-header: url('/assets/icons/negative/icon-sheet-white.svg');
  --icon-help-header: url('/assets/icons/negative/icon-help-white.svg');
  --icon-help: url('/assets/icons/help-grey.svg');
  --icon-help-settings: url('/assets/icons/setting-black.svg');
  --icon-tour-header: url('/assets/icons/negative/icon-tour-white.svg');
  --icon-help-chat-header: url('/assets/icons/negative/icon-help-chat-white.svg');
  --icon-update-header: url('/assets/icons/negative/icon-update-white.svg');
  --icon-report-header: url('/assets/icons/negative/icon-report-white.svg');
  --icon-side-nav-left: url('/assets/icons/negative/sidenav-left.svg');
  --icon-side-nav-right: url('/assets/icons/negative/sidenav-right.svg');
  --icon-assistant: url('/assets/icons/negative/copilot-icon.png');
  --icon-check: url('/assets/icons/negative/icon-check-white.svg');
  --icon-website-anchor: url('/assets/icons/positive/icon-website-anchor.svg');
  --stop: url('/assets/icons/negative/stop-white.svg');
  --icon-add-photo: url('/assets/icons/negative/scan-white.svg');
  --icon-warning: url('/assets/icons/negative/warning-white.svg');
  --icon-edit-avatar: url('/assets/icons/negative/edit-avatar-white.svg');
  --icon-close-modal: url('/assets/icons/icon-close-modal.svg');
  --color-primary: #ffffff;
  --color-secondary: #ed1650;
  --color-terciary: #303030;
  --color-terciary-menu: #ffff;
  --color-bg: #000000;
  --color-bg-chat: #f3f6fc;
  --color-text: #ffffff;
  --btn-secondary: #303030;
  --btn-secondary-text: #ffffff;
  --btn-secondary-border: 2px solid #ffffff;
  --btn-color-hover_header: #303030;
  --btn-color-hover_chat: #757575;
  --btn-color-options-help: #f3f6fc;
  --color-background-secondary: #303030;
  --color-background-input: #000000;
  --color-scrollbar: #000000;
  --color-scrollbar-bg: #ffffff;
  --color-button-background-secondary: #ffffff;
  --color-button-background-primary: #303030;
  --color-button-background-hover-primary: #222327;
  --color-button-text-primary: #ffffff;
  --color-text-messages: #ffffff;
  --btn-action-input: #ed1650;
  --a-color: #0077ff;
  --a-color-visited: #885af5;
  --border-color: #6b6b6b;
  --color-label-experimental: #2ec9ed;
  --color-help-background-title: #131314;
  --color-button-text-hover-secondary: #ffffff;
  --color-background-disclaimer: #000;
  --color-background-profile-modal: #303030;
  --color-user-icons: #303030;
  --shadow-card-prompt-example: rgba(255, 255, 255, 0.2);
  --mat-autocomplete-background-color: #303030;
}
