.gcloudignore
.git
.gitignore
node_modules
Jenkinsfile
CODE_OF_CONDUCT.md
LICENSE
CONTRIBUTING.md
README
README.MD
README.md
.prettierrc
.npmrc
.eslintrc.js
.env.example

node_modules
npm-debug.log
*.pem
!mock-cert.pem
package-lock.json
coverage
.eslintcache
.DS_Store

deploy/
config.json
Jenkinsfile