@import 'src/assets/scss/main.scss';

.layout-container {
  width: 100%;
  height: 100vh;
  position: fixed;

  .layout-sidenav-container {
    height: calc(100% - 64px);
    position: absolute;
    top: 64px;
    bottom: 37px;
    left: 0;
    right: 0;
  }

  app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .layout-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg);
    height: 0;
  }
}

.layout-sidenav-content {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  padding: 0;
  width: auto;
  height: -webkit-fill-available;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  background-color: var(--color-background-primary);
}

.layout-sidenav {
  height: 100%;
  padding: 20px 0px 20px 15px;
  overflow: hidden;
  background-color: var(--color-background-primary);
  width: 22%;
}

:host ::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
}
:host ::ng-deep .mat-drawer-side {
  border: unset !important;
}

.sidenav-button-container-open {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 9;

  @media screen and (max-width: 1280px) {
    position: fixed;
    left: 295px;
    right: auto;
  }
}

// @media screen and (max-width: 1279px) {
//   .sidenav-button-container-open {
//     left: auto;
//     right: 0px;
//   }
// }

.sidenav-button-container-close {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 9;
}

::ng-deep .mat-drawer-container {
  background-color: white !important;
}

.btn-side-nav-left {
  content: var(--icon-side-nav-left);
  height: 26px;
  width: 8px;
  align-self: center;
}

.btn-side-nav-right {
  content: var(--icon-side-nav-right);
  height: 26px;
  width: 8px;
  align-self: center;
}

.btn-sidebar {
  height: 54px;
  display: flex;
  vertical-align: middle;
  background-color: var(--color-background-primary);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1280px) {
  .layout-sidenav {
    width: 320px;
  }
}

@media screen and (max-width: 850px) {
  .sidenav-button-container-close {
    left: 25px;
  }
  .sidenav-button-container-open {
    left: 310px;
  }
  .sidenav-button-container-close,
  .sidenav-button-container-open {
    min-width: 40px !important;
    max-width: 40px !important;
  }
}

@media screen and (max-width: 650px) {
  .sidenav-button-container-open,
  .sidenav-button-container-close {
    display: none;
  }
}
