//_themes.scss

@use 'sass:map';
@use '@angular/material' as mat;
//@use '_custom-card-theme' as custom-card;

@import 'chat-libre-theme';
@import 'rh-theme';

@mixin theme($theme) {
  @include mat.all-component-colors($theme);
  //@include custom-card.theme($theme);
  // include any other custom component mixin here
}

@mixin all-themes {
  .rh-light-theme {
    @include theme($rh-light-theme);
    --color-background-primary: #b1e7e5;
    --color-border-spinner-loading: rgba(177, 231, 229, 0.461);
    --color-background-spinner-loading: white;
    --color-button-text-secondary: white;
    .card-wrapper {
      color: #2d2d2d;
    }

    .mdc-button {
      color: var(--color-button-text-primary);
      &.edit-cancel,
      &[ng-reflect-dialog-result='no'] {
        background-color: #ed1650 !important;
      }

      &.edit-confirm,
      &[ng-reflect-dialog-result='yes'] {
        background-color: #00d6cc !important;
      }
    }

    .mat-mdc-raised-button.mat-unthemed {
      background-color: var(--color-button-background-secondary);
      color: var(--color-button-text-secondary);
    }

    .mat-mdc-menu-trigger {
      color: var(--color-text-messages);
    }

    .mat-toolbar.mat-primary {
      --mat-toolbar-container-background-color: white;
      --mat-toolbar-container-text-color: white;
    }

    .mat-mdc-icon-button {
      color: var(--color-text-messages);
    }

    --mdc-filled-text-field-focus-label-text-color: #000000;
    --mat-sidenav-content-background-color: white;
    --mat-sidenav-container-divider-color: white;
    --mat-form-field-hover-state-layer-opacity: 0;
    --mat-form-field-focus-state-layer-opacity: 0;
    --mat-select-enabled-arrow-color: #1b0088;
    --mat-select-focused-arrow-color: #1b0088;
    --mdc-filled-text-field-container-color: white;
    --mat-toolbar-mobile-height: 64px;
    --mdc-dialog-container-color: transparent;
    --mat-badge-container-overlap-offset: -18px;
  }

  .chatlibre-light-theme {
    @include theme($chatlibre-light-theme);
    --color-background-primary: #cfdaf2;
    --color-background-assistant-message: #cfdaf2;
    --color-border-spinner-loading: rgb(255 255 255 / 46%);
    --color-background-spinner-loading: #cfdaf2c2;
    --logo-latam-isotype-mobile: url('/assets/pics/Isotype-LATAM.svg');
    --color-button-text-secondary: white;

    .card-wrapper {
      color: #2d2d2d;
    }

    .mdc-button {
      color: var(--color-button-text-primary);
      &.edit-cancel,
      &[ng-reflect-dialog-result='no'] {
        background-color: #ed1650 !important;
      }

      &.edit-confirm,
      &[ng-reflect-dialog-result='yes'] {
        background-color: #00d6cc !important;
      }
    }

    .mat-mdc-raised-button.mat-unthemed {
      background-color: var(--color-button-background-secondary);
      color: var(--color-button-text-secondary);
    }

    .mat-mdc-menu-trigger {
      color: var(--color-text-messages);
    }

    .mat-toolbar.mat-primary {
      --mat-toolbar-container-background-color: white;
      --mat-toolbar-container-text-color: white;
    }

    .mat-mdc-icon-button {
      color: var(--color-text-messages);
    }

    --mdc-filled-text-field-focus-label-text-color: #000000;
    --mat-sidenav-content-background-color: white;
    --mat-sidenav-container-divider-color: white;
    --mat-form-field-hover-state-layer-opacity: 0;
    --mat-form-field-focus-state-layer-opacity: 0;
    --mat-select-enabled-arrow-color: #1b0088;
    --mat-select-focused-arrow-color: #1b0088;
    --mdc-filled-text-field-container-color: white;
    --mat-toolbar-mobile-height: 64px;
    --mdc-dialog-container-color: transparent;
    --mat-badge-container-overlap-offset: -18px;
  }
  .rh-dark-theme {
    @include theme($rh-dark-theme);
  }
  .chatlibre-dark-theme {
    @include theme($chatlibre-dark-theme);
    --mdc-filled-text-field-fill-color: white;
    --color-background-primary: #000;
    --color-background-assistant-message: #000;
    --color-background-terciary: #303030;
    --mat-option-selected-state-label-text-color: #ffffff;
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: #ffffff;
    --color-border-spinner-loading: rgb(0 0 0 / 46%);
    --color-background-spinner-loading: #303030c2;
    --logo-latam-isotype-mobile: url('/assets/pics/Logo-LATAM-dark.svg');
    --color-button-text-secondary: white;
    // Example how you can easy add own custom styles

    .mat-mdc-mini-fab.mat-primary {
      --mdc-fab-small-container-color: #201f1f;
    }

    .card-wrapper {
      color: #d0d0d0;
    }

    .mat-drawer,
    .mat-drawer-content {
      background-color: #000000;
    }

    .mat-drawer-container {
      background-color: #000000 !important;
    }

    .drawer {
      border-color: transparent !important;
    }

    .mat-mdc-menu-content {
      background-color: #424242;

      button {
        span {
          color: #d0d0d0 !important;
        }
      }
    }

    .mat-mdc-menu-item .mat-icon-no-color {
      color: #fafafa;
    }

    .mat-label {
      color: #fafafa;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
      color: var(--color-textarea-primary) !important;
    }

    .mat-mdc-dialog-container .mdc-dialog__title,
    .mat-mdc-form-field:not(.mat-form-field-no-animations)
      .mdc-text-field__input,
    .mat-mdc-dialog-container h1,
    .mat-mdc-dialog-container span {
      color: var(--color-text-messages);
    }

    .mat-mdc-raised-button.mat-unthemed {
      background-color: var(--color-button-background-primary) !important;
    }

    .mdc-button {
      color: var(--color-button-text-primary);

      &.edit-cancel,
      &[ng-reflect-dialog-result='no'] {
        background-color: #b20f3b !important;
      }

      &.edit-confirm,
      &[ng-reflect-dialog-result='yes'] {
        background-color: #00b5ad !important;
      }
    }

    .mat-mdc-menu-trigger {
      color: var(--color-text-messages);
    }

    .mat-toolbar.mat-primary {
      --mat-toolbar-container-background-color: #000000;
      --mat-toolbar-container-text-color: white;
    }

    .mat-mdc-icon-button {
      color: var(--color-terciary);
    }

    .mat-mdc-tab-group,
    .mat-mdc-tab-nav-bar {
      --mat-tab-header-inactive-hover-label-text-color: rgb(
        255 255 255 / 60%
      ) !important;
    }

    --mat-icon-color: white;
    --mat-sidenav-container-divider-color: #000000;
    --mat-form-field-hover-state-layer-opacity: 0;
    --mat-form-field-focus-state-layer-opacity: 0;
    --mat-option-label-text-color: #000000;
    --mat-select-enabled-arrow-color: #ed1650;
    --mat-select-focused-arrow-color: #ed1650;
    --mdc-filled-text-field-container-color: #000000;
    --mat-option-selected-state-layer-color: #303030;
    --mat-select-panel-background-color: #000000;
    --mat-option-label-text-color: white;
    --mat-toolbar-mobile-height: 64px;
    --mdc-dialog-container-color: transparent;
    --mat-badge-container-overlap-offset: -18px;
  }
}
