<div class="icon-container">
  <div class="title">{{ data.title }}</div>
  @if (imageIconSelected.length > 0) {
    <button (click)="toggleEmojiPicker()" class="emoji-button">
      <img
        src="assets/icons/{{ imageIconSelected }}"
        alt="icon-custom"
        style="height: 25; width: 25px" />
    </button>
  } @else {
    <button (click)="toggleEmojiPicker()" class="emoji-button">
      {{ emojiSelected }}
    </button>
  }

  <button class="edit-pencil" (click)="toggleEmojiPicker()">
    <mat-icon>edit</mat-icon>
  </button>
  <div *ngIf="showEmojiPicker" class="emoji-box">
    <emoji-mart
      set="google"
      (emojiSelect)="selectEmoji($event)"
      locale="es"
      [darkMode]="isDarkMode"
      [enableSearch]="false"
      [custom]="customEmojis">
    </emoji-mart>
  </div>
  <div class="button-container">
    <app-primary-button
      class="primary"
      (click)="updateIcon()"
      name="{{ data.accept }}"
      [hasIcon]="false">
    </app-primary-button>
    <app-secondary-button
      class="secondary"
      (eventClick)="clickCancel()"
      name="{{ data.cancel }}">
    </app-secondary-button>
  </div>
</div>
