<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<mat-toolbar class="header-custom">
  <!-- <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button> -->
  <div class="header-top-mobile">
    <div class="logo-mobile">
      <img class="header-logo" alt="logo LATAM" [routerLink]="'/main'" />
    </div>
    @if (availableChats.length > 1) {
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        @for (chat of availableChats; track chat) {
          <a
            mat-tab-link
            (click)="changeChat(chat)"
            [active]="activeChat?.value === chat.value">
            {{ chat.label }}
          </a>
        }
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    }
    <div class="space-top-mobile"></div>
  </div>

  <div class="menu-mobile-header">
    <button mat-icon-button class="btn-sidenav-menu" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    @if (availableChats.length > 1) {
      <div class="mode-switch-container">
        <button id="mode-selector" (click)="openBottomSheet()">
          <img src="{{ activeChat?.logo }}" alt="" class="logo" />
          <mat-icon>swap_horiz</mat-icon>
        </button>
      </div>
    } @else {
      <div class="logo-mobile">
        <img class="header-logo" alt="logo LATAM" [routerLink]="'/main'" />
      </div>
    }
    <!-- <app-selectors-top-chat
      [itemsLeft]="chatInteractionService.baseKnowledgeList"
      [itemsRight]="chatInteractionService.modelsList"
      [isVisibleSelectKnowledgebase]="true"
      [isVisibleSelectEngine]="false"
      [viewRight]="activeChat?.viewRight ?? false"
      [viewLetf]="activeChat?.viewLetf ?? false">
    </app-selectors-top-chat> -->
    <app-menu-user [userName]="name"></app-menu-user>
  </div>
</mat-toolbar>
