.warning {
  content: var(--icon-warning);
  vertical-align: middle;
  margin-right: 15px;
}

.container-banner {
  margin: 10px 0px;
  height: 34px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.message {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.message-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
}

.background-orange {
  background-color: #fb8c00;
}
.background-blue {
  background-color: #1b0088;
}

.background-green {
  background-color: #4caf50;
}

.close-icon {
  content: url('/assets/icons/close-banner.svg');
  vertical-align: middle;
  cursor: pointer;
  margin-left: 40px;
}

.seeMore {
  margin-left: 10px;
  color: #ffffff;
}

.seeMore:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container-left {
  display: flex;
  align-items: ce;
}
