.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 25px;
  width: 500px;
  background-color: var(--color-background-primary) !important;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-text-messages);
}

#closeModal {
  cursor: pointer;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-detail {
  margin-bottom: 30px;
  content: url('/assets/icons/sd_logo.png');
  height: 50px;
  width: 50px;
}

.description {
  color: var(--color-text-messages);
}
