@import '../../../../assets/styles/base/typography';

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 370px);
}

.title {
  align-self: center;
  font-size: 1.25rem;
  color: var(--color-primary);
  margin-bottom: 0px;
  font-family: 'LATAM Sans Bold', sans-serif !important;
  display: flex;
  align-items: center;
  .logo-rhplus {
    height: 45px;
    width: 76px;
    object-fit: contain;
    margin-left: 5px;
  }
}

.subtitle {
  align-self: center;
  font-size: 0.85rem;
  color: var(--color-primary);
  text-align: center;
}

app-selectors-top-chat {
  margin-bottom: 20px;
  display: none;
  @media screen and (max-width: 850px) {
    display: block;
  }
}

.examplesContainer {
  padding: 10px 30px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  @media screen and (max-width: 650px) {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.home-disclaimer-container {
  width: 90%;
  padding: 2%;
  background-color: var(--color-background-disclaimer);
  border-radius: 10px;
  color: var(--color-text);
  margin: 20px auto;
  display: flex;
  align-items: center;
  mat-icon {
    float: left;
    min-width: 30px;
  }
  .home-disclaimer {
    font-size: 0.85rem;
    margin: 0 0 0 10px;
    display: inline-block;
    color: var(--color-text) !important;
    @extend .font-light;
    span {
      font-weight: 700 !important;
    }
  }
}

:host ::ng-deep .home-disclaimer-container .home-disclaimer span {
  font-weight: 700 !important;
  @extend .font-bold;
  font-style: italic;
}

@media screen and (max-width: 850px) {
  .title {
    font-size: 1.95rem;
  }
}

@media screen and (max-width: 550px) {
  .title {
    font-size: 1.5rem;
    img {
      height: 35px !important;
      margin-left: 0 !important;
    }
  }
}
