<mat-form-field
  appearance="fill"
  [ngClass]="{ 'disabled-select': disabled }"
  [id]="idField"
  class="mobile-selec fadeIn">
  <mat-select [value]="itemSelected" (selectionChange)="onSelected($event)">
    <mat-select-trigger>
      @if (itemSelected?.icon) {
        @if (idField === 'left-selector' || idField === 'center-selector') {
          <img
            class="icon-select"
            mat-card-avatar
            src="assets/icons/{{ itemSelected!.icon }}"
            alt="icon" />
        } @else if (idField === 'right-selector') {
          <div
            class="icon-select {{ itemSelected!.icon }}-icon"
            mat-card-avatar></div>
        }
      }
      &nbsp;
      {{ itemSelected?.label ?? '' | translate }}
    </mat-select-trigger>

    @for (item of items; track item) {
      <mat-option [value]="item" class="model-option">
        <div class="flex-option-container">
          @if (item.icon) {
            @if (idField === 'left-selector' || idField === 'center-selector') {
              <img
                class="icon-select"
                mat-card-avatar
                src="assets/icons/{{ item.icon }}"
                alt="icon" />
            } @else if (idField === 'right-selector') {
              <div
                class="icon-select {{ item.icon }}-icon"
                mat-card-avatar></div>
            }
          }
          &nbsp;
          <div class="item-info">
            <p>{{ item.label | translate }}</p>
            <span>{{ item.speed | titlecase }}</span>
          </div>
        </div>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
