/* .title-principal {
    color: $ligth-0;
    font-family: $latam-regular;
    font-size: $font-display-25;
}  

.title-header {
    color: $primary-latam;
    font-family: $latam-bold;
    font-size: $font-display-14;
}

.title-btn-ticket {
    
    font-family: $latam-regular;
    font-size: $font-display-16;
}

.title-regular {
    color: $primary-latam;
    font-family: $latam-regular;
    font-size: $font-display-16;
    white-space: nowrap;
}

 */
