@import '../../../../assets/styles/base/typography';

.icon-user {
  content: var(--icon-user-header);
  vertical-align: middle;
}

.app_toolbar_text_color {
  display: flex;
  justify-content: space-around;
  align-items: center;
  label {
    margin-right: 10px;
    color: var(--color-text);
  }
}
.text-user {
  font-size: 16px !important;
  @extend .font-bold;
  color: var(--color-text);
}

.icon-example {
  height: 40px;
  width: 40px;
  margin-left: 5px;
}

@media screen and (max-width: 850px) {
  .text-user {
    display: none;
  }
}

.btn-menu {
  border: none;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.btn-menu:hover {
  background-color: var(--btn-color-hover_header);
}

.btn-menu-mobile {
  display: none;
}

@media screen and (max-width: 650px) {
  .btn-menu {
    display: none;
  }
  .btn-menu-mobile {
    display: flex;
    padding: 0px;
    border-radius: 10px;
    // background-color: var(--btn-color-hover_header);
    cursor: pointer;
  }
}
