<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<mat-menu #menu xPosition="before">
  <button *ngFor="let item of links" mat-menu-item [routerLink]="'/' + item">
    {{ item | translate }}
  </button>

  <mat-divider *ngIf="links?.length"></mat-divider>

  <button mat-menu-item (click)="openUserProfile()">
    <mat-icon>perm_identity</mat-icon>
    <span>Perfil</span>
  </button>

  <!-- <button mat-menu-item (click)="changeToManagement()">
    <mat-icon>insert_chart</mat-icon>
    <span>Administracion y monitoreo</span>
  </button> -->

  <!-- @if (!isBasicView && isAdminProUser) {
    <button mat-menu-item (click)="seeAs(false)">
      <mat-icon>visibility</mat-icon>
      <span>{{ 'SEE_AS_BASIC_USER' | translate }}</span>
    </button>
  }
  @if (isBasicView && isAdminProUser) {
    <button mat-menu-item (click)="seeAs(true)">
      <mat-icon>visibility_off</mat-icon>
      <span>{{ 'SEE_AS_ADMIN_USER' | translate }}</span>
    </button>
  } -->
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>{{ 'MENU_LOGOUT' | translate }}</span>
  </button>
</mat-menu>

<div
  class="app_mouse_over btn-menu"
  [matMenuTriggerFor]="menu"
  id="mainMenuIcon">
  <span class="text-user">{{ userName }} </span>
  @if (hasUserPhoto) {
    <img
      class="icon-example"
      src="/assets/pics/pax/{{ paxIconValue }}.svg"
      alt="icon example" />
  } @else {
    <img class="icon-user" alt="icon user" />
  }
</div>

<div class="btn-menu-mobile" (click)="openMenuMobile()">
  <img class="icon-user" alt="icon user" />
</div>
