<div class="chat-messages">
  @if (lazyLoading) {
    <div class="lazy-loading-container">
      <app-spinner [width]="35" [height]="35"></app-spinner>
    </div>
  } @else if (countMessagesInBD > 0) {
    <div class="lazy-loading-container">
      <button
        color="primary"
        (click)="onScrollLoadData(true)"
        mat-mini-fab
        [matTooltip]="'LOAD_MESSAGES_PREVIOUS' | translate">
        <mat-icon>arrow_upward</mat-icon>
      </button>
    </div>
  }

  <div #scrollMe class="container-message" (scroll)="onScrollLoadData()">
    @for (
      message of messages();
      track message.interaction?.id;
      let indexMessages = $index
    ) {
      <div
        class="message fadeIn"
        [ngClass]="
          message.role === 'user' ? 'user-message' : 'assistant-message'
        ">
        @if (message.content?.length || message.urls?.length) {
          @if (message.role === 'user') {
            <div class="avatar" [ngClass]="'user'"></div>
          } @else {
            <div
              class="avatar"
              [ngClass]="'assistant'"
              [style.backgroundImage]="chatActivate?.iconAssistant"></div>
          }

          <div class="message-bubble">
            @if (message.role === 'assistant') {
              @if (
                message.type === 'text' ||
                message.type === 'Text' ||
                message.type === 'vision' ||
                message.type === 'command'
              ) {
                <div [innerHTML]="message.content"></div>
              }
              @if (message.type === 'image' || message.type === 'Image') {
                @if (message.urls?.length) {
                  <app-grid-images
                    [images]="
                      buildImageGridBySingUrl(message)
                    "></app-grid-images>
                } @else {
                  <app-grid-images
                    [images]="buildImageGrid(message)"></app-grid-images>
                }
              }

              <div class="container-feedback">
                <app-chat-input-actions
                  [scrollElement]="scrollMe"
                  [message]="message.interaction!">
                </app-chat-input-actions>
                <div class="message-info-container">
                  <div class="answer-model-info">
                    <div
                      class="icon-model {{
                        message.interaction.model.toLowerCase()
                      }}-icon"></div>
                    <p>{{ message.interaction.model | translate }}</p>
                  </div>
                  <div class="time-container">
                    <span>{{
                      message.interaction.createdAt | date: 'hh:mm a - dd/MM/yy'
                    }}</span>
                    <span> {{ message.interaction.timeResponse }}s</span>
                  </div>
                </div>
              </div>
              @if (message.type === 'Text' || message.type === 'text') {
                <app-chat-input-feedback
                  [message]="message.interaction!"></app-chat-input-feedback>
              }
            }

            @if (
              (message.isVision ||
                message.type === 'vision' ||
                message.type === 'Vision') &&
              message.role === 'user'
            ) {
              <div [innerHTML]="message.text"></div>
              <app-grid-images
                [images]="buildImageGrid(message, true)"></app-grid-images>
            } @else if (message.role === 'user') {
              @if (!message.isEdit) {
                <div class="container-prompt">
                  <div [innerHTML]="message.content"></div>
                  @if (
                    lastMessage?.interaction?.unique ===
                      message?.interaction?.unique &&
                    !loadingStatus &&
                    (lastMessage?.type === 'image' ||
                      lastMessage?.type === 'Image')
                  ) {
                    <button
                      class="btn-regenerate-prompt"
                      mat-icon-button
                      matTooltip="Regenerar instrucción"
                      (click)="
                        message.isEdit = true; questionRegenerate = message.text
                      ">
                      <mat-icon>edit</mat-icon>
                    </button>
                  }
                </div>
              } @else {
                <mat-form-field class="w-100 regenerate-textarea">
                  <mat-label>Editar pregunta</mat-label>
                  <textarea
                    matInput
                    [(ngModel)]="questionRegenerate"></textarea>
                </mat-form-field>
                <button
                  class="btn-regenerate-prompt"
                  mat-button
                  (click)="message.isEdit = false">
                  <mat-icon>cancel</mat-icon>
                  Cancelar
                </button>
                <button
                  class="btn-regenerate-prompt"
                  mat-button
                  (click)="sendRegenerate(message)">
                  <mat-icon>send</mat-icon>
                  Enviar
                </button>
              }

              <div class="chips-files">
                @for (file of message.files; track $index) {
                  <mat-chip-row>
                    <div matChipAvatar>
                      <mat-icon style="color: #3498db">
                        picture_as_pdf
                      </mat-icon>
                    </div>
                    <p class="name">
                      {{ file?.name }}
                    </p>
                    <p class="date">
                      {{ file.createAt | date }}
                    </p>
                  </mat-chip-row>
                }
              </div>
            }
          </div>
        }
      </div>
      @if (
        message.role === 'user' &&
        tabSelected !== labelTabImages &&
        indexMessages === messages().length - 1
      ) {
        @for (actions of listOfTitlesText; track actions; let idx = $index) {
          @if (idx === 0) {
            <div class="container-action fadeIn">
              @if (
                currentStep >= actions.timeInSecodsMin &&
                currentStep <= actions.timeInSecodsMax &&
                loadingStatus &&
                indexMessages === messages().length - 1
              ) {
                <div class="container-spinner">
                  <app-spinner [width]="20" [height]="20"></app-spinner>
                </div>
              } @else {
                <img id="iconCheck" class="icon-check" alt="icon-check" />
              }
              <div class="title">
                {{ actions.title | translate }}
              </div>
            </div>
          }
          @if (idx === 1 && currentStep >= actions.timeInSecodsMin) {
            <div class="container-action fadeIn">
              @if (
                currentStep >= actions.timeInSecodsMin &&
                currentStep <= actions.timeInSecodsMax &&
                loadingStatus &&
                indexMessages === messages().length - 1
              ) {
                <div class="container-spinner">
                  <app-spinner [width]="20" [height]="20"></app-spinner>
                </div>
              } @else {
                <img id="iconCheck" class="icon-check" alt="icon-check" />
              }
              <div class="title">
                {{ actions.title | translate }}
              </div>
            </div>
          }

          @if (
            idx === 2 &&
            currentStep >= actions.timeInSecodsMin &&
            loadingStatus &&
            indexMessages === messages().length - 1
          ) {
            <div class="container-action fadeIn">
              @if (
                currentStep >= actions.timeInSecodsMin &&
                currentStep <= actions.timeInSecodsMax &&
                loadingStatus &&
                indexMessages === messages().length - 1
              ) {
                <div class="container-spinner">
                  <app-spinner [width]="20" [height]="20"></app-spinner>
                </div>
              } @else {
                <img id="iconCheck" class="icon-check" alt="icon-check" />
              }
              <div class="title">
                {{ actions.title | translate }}
              </div>
            </div>
          }

          @if (
            idx === 3 &&
            !loadingStatus &&
            (errorMessage || lastRole === 'user') &&
            indexMessages === messages().length - 1
          ) {
            <div class="container-action fadeIn">
              <img id="iconWarning" class="warning" alt="warning" />
              <div class="title">
                {{ actions.title | translate }}
              </div>
            </div>
          }
        }
      }

      @if (message.role === 'user' && tabSelected === labelTabImages) {
        <div class="container-action fadeIn">
          @if (
            loadingStatus &&
            indexMessages === messages().length - 1 &&
            !moreThanLimitSeconds
          ) {
            <app-spinner [width]="20" [height]="20"></app-spinner>
          } @else {
            <img id="iconCheck" class="icon-check" alt="icon-check" />
          }
          <div class="title">
            {{ titleGeneraleImage | translate }}
          </div>
        </div>

        @if (moreThanLimitSeconds) {
          <div class="container-action fadeIn">
            @if (loadingStatus && indexMessages === messages().length - 1) {
              <app-spinner [width]="25" [height]="25"></app-spinner>
            } @else {
              <img id="iconCheck" class="icon-check" alt="icon-check" />
            }
            <div class="title">
              {{ 'MORE_SECONDS_ACTION_LOG' | translate }}
            </div>
          </div>
        }

        @if (
          !loadingStatus &&
          (errorMessage || lastRole === 'user') &&
          indexMessages === messages().length - 1
        ) {
          <div class="container-action fadeIn">
            <img id="iconPause" class="pause" alt="pause" />
            <div class="title">
              {{ errorImage | translate }}
            </div>
          </div>
        }
      }
    }
  </div>
</div>
