@import '../../../../assets/styles/base/typography';
@import 'src/assets/scss/main.scss';

.btn-menu {
  border: none;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.btn-menu:hover {
  background-color: var(--btn-color-hover_header);
  .text-user {
    color: #1b0088;
  }
}

.text-user {
  font-size: 16px !important;
  @extend .font-bold;
  color: white;
}
