@if (topic.loading) {
  <app-spinner></app-spinner>
} @else {
  <button
    (click)="
      menuTrigger.openMenu(); topic.menu = true; $event.stopPropagation()
    "
    mat-icon-button>
    <mat-icon>more_vert</mat-icon>
    <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"></div>
  </button>
}

<mat-menu #menu="matMenu">
  @for (option of options; track $index) {
    <app-list-item
      *appRoleBased="option.action"
      iconName="{{ option.icon }}"
      title="{{ option.title | translate }}"
      (click)="optionSelected(option.title)">
    </app-list-item>
  }
</mat-menu>
