@import '../../../assets/styles/base/typography';

#login-main-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100vh - 39px);

  #left-container {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    color: var(--color-primary);

    #text-container {
      position: relative;
      z-index: 10;
      margin: 100px 0 0 50px;
      text-align: center;

      .title-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          font-weight: 600;
          @extend .font-bold;
          font-size: 4vw;
          color: var(--color-primary);
        }
        img {
          margin-left: 20px;
        }
      }

      p {
        font-size: 1.5rem;
        line-height: 120%;
        margin: 5px 0 20px;
        color: var(--color-primary);
        @extend .font-light;
        &.desktop-paragraph {
          display: block;
        }
        &.mobile-paragraph {
          display: none;
        }
        &.mobile-bajada {
          display: none;
        }
      }

      blockquote {
        font-style: italic;
        font-size: 1.1rem;
        position: relative;
        margin: 50px 30px 15px;
        padding: 25px;
        background-color: rgba(256, 256, 256, 0.2);
        border-radius: 5px;
        @extend .font-light;

        &::before {
          display: block;
          position: absolute;
          opacity: 0.5;
          font-size: 120px;
          content: open-quote;
          left: -30px;
          top: 40px;
        }

        &::after {
          display: block;
          width: 100%;
          height: 100%;
          content: '';
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
      }

      span {
        font-size: 0.8rem;
        text-align: right;
        display: block;
        margin-bottom: 50px;
      }
    }

    #illustration-container {
      margin: 23% auto;
      .illustration {
        object-fit: contain;
        width: 100%;
        height: 225px;
      }
    }
  }

  #right-container {
    width: 50%;
    background-color: var(--color-background-primary);
    border-bottom-left-radius: 15%;
    padding: 20px;
    position: relative;

    #login-container {
      text-align: center;
      margin-top: 150px;
      position: relative;
      z-index: 2;
      img {
        margin-bottom: 25px;
      }

      h2 {
        font-size: 18px;
        @extend .font-light;
        color: var(--color-primary);
        margin-bottom: 40px;
      }
      .app_button {
        background-image: url('/assets/icons/icon-touch.svg');
        background-size: 18px 25px;
        background-repeat: no-repeat;
        background-position: 10px 50%;
        padding: 15px 15px 30px 40px;
      }
    }
    .latam-wings {
      position: absolute;
      bottom: 0;
      right: -90px;
      width: 520px;
      height: 730px;
      background-image: url('/assets/pics/latam-wings.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  #login-container-mobile {
    display: none;
    justify-content: center;
    position: relative;
    z-index: 10;
    flex-flow: column;
    align-items: center;
    background-color: var(--color-background-primary);
    padding: 30px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 50px auto 0;
    height: -webkit-fill-available;
    img {
      z-index: 2;
    }
    .app_button {
      background-image: url('/assets/icons/icon-touch.svg');
      background-size: 18px 25px;
      background-repeat: no-repeat;
      background-position: 10px 50%;
      padding: 15px 15px 30px 40px;
      z-index: 2;
    }
    h2 {
      @extend .font-light;
      color: var(--color-primary);
      font-size: 18px;
      z-index: 2;
    }

    .latam-wings {
      position: absolute;
      bottom: 0;
      right: -30px;
      width: 217px;
      height: 330px;
      background-image: url('/assets/pics/latam-wings.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  app-footer {
    width: 100%;
    float: left;
  }
}

@media screen and (max-width: 1200px) {
  #login-main-wrapper {
    #left-container {
      width: 50%;

      #text-container {
        margin-top: 50px;
        width: 80%;
      }
    }

    #right-container {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1100px) {
  #login-main-wrapper {
    #left-container {
      width: 100%;

      #text-container {
        margin-top: 150px;
        width: 70%;

        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }

        blockquote {
          display: none;
        }

        span {
          display: none;
        }
      }
    }

    #right-container {
      width: 100%;
      #login-container {
        margin-top: 150px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  #login-main-wrapper {
    flex-direction: column;
    #left-container {
      width: 100%;
      padding: 20px 0;

      #text-container {
        margin: 50px auto;
        width: 100%;
        text-align: center;

        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
          &.desktop-paragraph {
            display: none;
          }
          &.mobile-paragraph {
            display: block;
          }
          &.mobile-bajada {
            width: 80%;
            margin: 20px auto;
            display: block;
            font-size: 16px;
          }
        }

        blockquote {
          display: none;
        }

        span {
          display: none;
        }

        .title-wrapper {
          h1 {
            font-size: 38px;
            @extend .font-bold;
          }
          img {
            height: 45px;
            width: auto;
          }
        }
      }

      #illustration-container {
        display: none;
      }
    }

    #right-container {
      display: none;
    }

    #login-container-mobile {
      display: flex;
      width: 100%;
      h2 {
        font-size: 18px;
      }
    }
  }
}
