<div class="modal-container">
  <div class="main-modal">
    <div class="title-container">
      <div class="title-modal">Carga de documento</div>
      <!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
      <!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
      <img
        class="close-profile-modal"
        alt="close-icon"
        (click)="closeModal()" />
    </div>

    <div>
      <form>
        <mat-form-field class="w-100">
          <mat-label>Nombre Golden Set</mat-label>
          <input matInput placeholder="Nombre documento" value="" />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Descripcion Golden Set</mat-label>
          <input matInput placeholder="Descripcion documento" value="" />
        </mat-form-field>
      </form>
    </div>
    <div class="butons-footer">
      <button mat-raised-button class="btn-secondary">Cancelar</button>
      <button mat-raised-button color="primary">Guardar</button>
    </div>
  </div>
</div>
