<div class="modal-container">
  <div class="main-modal">
    <div class="title-container">
      <div class="title-modal">Respuesta en el tiempo</div>
      <!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
      <!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
      <img
        class="close-profile-modal"
        alt="close-icon"
        (click)="closeModal()" />
    </div>
    <div>
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              05/04/2024 | Stado: <img class="icon-state" alt="icon-state" />
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Texto</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="butons-footer">
      <button mat-raised-button color="primary">OK</button>
    </div>
  </div>
</div>
