.header-custom {
  background-color: #1b0088;
  z-index: 2;
  display: flex;
  justify-content: space-between;

  .header-logo {
    width: 178px;
    height: auto;
    content: url('/assets/icons/icons-management/Logo-latam-red-white.svg');
    vertical-align: middle;
  }
}
