button {
  padding: 10px;
  color: var(--color-textarea-primary);
  border: none;
  background: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  // margin-left: 10px;

  &:disabled {
    color: #666666;
    cursor: not-allowed;
  }

  &.dot-flashing::after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
  }
}
