<div class="custom-table">
  <div style="margin-bottom: 10px">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      aria-describedby="management">
      @if (isGoldenSet) {
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>
        <ng-container matColumnDef="nameGoldenSet">
          <th mat-header-cell *matHeaderCellDef>Nombre Golden Set</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nameGoldenSet }}
          </td>
        </ng-container>
        <ng-container matColumnDef="descriptionGoldenSet">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let element">
            {{ element.descriptionGoldenSet }}
          </td>
        </ng-container>
        <ng-container matColumnDef="originDate">
          <th mat-header-cell *matHeaderCellDef>Fecha Origen</th>
          <td mat-cell *matCellDef="let element">{{ element.originDate }}</td>
        </ng-container>
        <ng-container matColumnDef="updateDate">
          <th mat-header-cell *matHeaderCellDef>Fecha Actualización</th>
          <td mat-cell *matCellDef="let element">{{ element.updateDate }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menuGoldenSet"
              class="btn-table">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menuGoldenSet xPosition="after">
              <button
                mat-menu-item
                id="guided-tour-icon"
                (click)="openTimeLineModal()">
                <span>Linea de tiempo</span>
              </button>
              <button
                mat-menu-item
                id="help-guide-icon"
                (click)="openDeleteModal()">
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
      } @else {
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>
        <ng-container matColumnDef="questions">
          <th mat-header-cell *matHeaderCellDef>questions</th>
          <td mat-cell *matCellDef="let element">{{ element.questions }}</td>
        </ng-container>
        <ng-container matColumnDef="answers">
          <th mat-header-cell *matHeaderCellDef>answers</th>
          <td mat-cell *matCellDef="let element">{{ element.answers }}</td>
        </ng-container>
        <ng-container matColumnDef="feedback">
          <th mat-header-cell *matHeaderCellDef>feedback</th>
          <td mat-cell *matCellDef="let element">
            @if (element.feedback) {
              <img
                src="assets/icons/icons-management/icon-positive.svg"
                alt="positive icon" />
            } @else {
              <img
                src="assets/icons/icons-management/icon-negative.svg"
                alt="negative icon" />
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menuQuestions"
              class="btn-table">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menuQuestions xPosition="after">
              <button mat-menu-item>
                <span>Linea de tiempo</span>
              </button>
              <button mat-menu-item>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [length]="itemsTable.length"
    [pageSize]="30"
    [hidePageSize]="true"
    class="custom-paginator"
    aria-label="Select page of GitHub search results"></mat-paginator>
</div>
