.item-chat {
  display: flex;
  .text-search-chat {
    margin-right: 10px;
  }
  .text-knowledge {
    font-weight: 600;
  }
  .text-search-chat,
  .text-knowledge {
    display: flex;
    align-items: center;
  }
  .icon-check {
    content: var(--icon-check);
    margin-right: 10px;
    vertical-align: middle;
  }
}
