<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div
  class="item-container"
  [ngClass]="itemTopic.activate ? 'clicked' : 'noClicked'"
  (click)="chatClicked()">
  <div class="text-icon">
    <div class="icon-container">
      @if (itemTopic.emoji) {
        <div class="icon">
          {{ itemTopic.emoji }}
        </div>
      } @else if (!chatActivate?.viewLetf) {
        <img
          class="avatar"
          src="assets/icons/{{ chatActivate?.iconHistory }}"
          alt="note" />
      } @else {
        @for (item of listIcons; track item) {
          @if (item.value === itemTopic.baseKnowledge) {
            <img class="avatar" src="assets/icons/{{ item.icon }}" alt="note" />
          }
        }
      }
    </div>
    <div class="text-talk-container">
      @if (chatActivate!.label === 'RH+') {
        @if (itemTopic.model === 'gemini_10_pro_vision') {
          <span class="topic-base">{{ 'VISION_MODE_LABEL' | translate }} </span>
        } @else {
          <span class="topic-base"
            >{{ itemTopic.baseKnowledge | translate }}
          </span>
        }
      } @else if (
        chatActivate!.label === 'CHAT LIBRE' &&
        (itemTopic.model === 'gpt_4_turbo' ||
          itemTopic.model === 'gemini_15_pro' ||
          itemTopic.model === 'gemini_15_flash')
      ) {
        <span class="topic-base">{{ 'PDF_MODE_LABEL' | translate }} </span>
      } @else if (
        (chatActivate!.label === 'RH+' ||
          chatActivate!.label === 'CHAT LIBRE') &&
        itemTopic.model === 'gemini_10_pro_vision'
      ) {
        <span class="topic-base">{{ 'VISION_MODE_LABEL' | translate }} </span>
      } @else {
        <span class="topic-base">{{ chatActivate!.label | translate }} </span>
      }
      <span class="talk-title">{{ itemTopic.title }}</span>
    </div>
  </div>
  <app-talk-menu [topic]="itemTopic"></app-talk-menu>
</div>
