@import 'src/assets/scss/main.scss';

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 35px 30px 35px 30px;
  width: 380px;
  background-color: var(--color-background-profile-modal) !important;
  .main-modal {
    background-color: var(--color-bg) !important;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    .content-modal {
      text-align: center;
      .content-text {
        margin-bottom: 0px;
      }
      .icon-attention {
        content: url('/assets/icons/icons-management/icon-Attention-delete.svg');
      }
    }
    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;

      .title-modal {
        font-size: 16px;
        color: var(--color-text-messages);
        font-family: 'LATAM Sans Bold', sans-serif !important;
      }

      .close-profile-modal {
        content: url('/assets/icons/icon-close-modal.svg');
        cursor: pointer;
      }
    }

    .butons-footer {
      display: flex;
      justify-content: end;
      margin-top: 20px;

      .btn-secondary {
        background-color: #ed1650 !important;
        color: #ffffff !important;
        margin-right: 20px;
      }
    }
  }
}

.w-100 {
  width: 100%;
}
