<mat-menu #menu xPosition="before">
  <button mat-menu-item id="guided-tour-icon" (click)="startTour()">
    <img class="icon-tour" alt="icon tour" />
    <span>{{ 'TOUR_STEP_GUIDE_TITLE' | translate }}</span>
  </button>
  <button mat-menu-item id="help-guide-icon">
    <img class="icon-help-chat" alt="icon help" />
    <span>{{ 'TITLE_HELP_GUIDE' | translate }}</span>
  </button>
  <button mat-menu-item id="updates-menu" (click)="openUpdates()">
    <img class="icon-update" alt="icon update" />
    <span>{{ 'UPDATES_TITLE' | translate }}</span>
  </button>
  <button mat-menu-item id="reports-menu" (click)="openReportIssue()">
    <img class="icon-report" alt="icon report" />
    <span>{{ 'BUG_REPORT_TITLE' | translate }}</span>
  </button>
</mat-menu>

<div
  class="app_mouse_over m-r-20 btn-menu"
  [matMenuTriggerFor]="menu"
  id="mainMenuIcon">
  <img class="icon-help" alt="icon help" />
</div>
