.icon-help {
  content: var(--icon-help-header);
  vertical-align: middle;
}
.icon-tour {
  content: var(--icon-tour-header);
  vertical-align: middle;
  margin-right: 15px;
}
.icon-help-chat {
  content: var(--icon-help-chat-header);
  vertical-align: middle;
  margin-right: 15px;
  border-radius: 50%;
  background: white;
}
.icon-update {
  content: var(--icon-update-header);
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 5px;
}
.icon-report {
  content: var(--icon-report-header);
  vertical-align: middle;
  margin-right: 15px;
}
.m-r-20 {
  margin-right: 25px;
}

@media screen and (max-width: 850px) {
  .m-r-20 {
    margin-right: 10px;
  }
}

.btn-menu {
  border: none;
  background-color: transparent;
  border-radius: 30px;
}

.btn-menu:hover {
  background-color: var(--btn-color-hover_header);
}

@media screen and (max-width: 650px) {
  .btn-menu {
    display: none;
  }
}
