.container-dialog {
  padding: 20px;
  width: max-content;
  height: max-content;
  max-width: fit-content;
  max-width: -moz-fit-content;
  background-color: var(--color-background-secondary) !important;
}
