<div class="container-dialog">
  <div style="width: 100%">
    <h1>{{ title }}</h1>
  </div>
  <p></p>
  <span style="font-size: medium">{{ subtitle }}</span>
  <p></p>
  <span style="font-size: medium">{{ description }}</span>

  <div
    style="
      text-align: right;
      width: 100%;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
    ">
    @if (yesVisible === true) {
      <button
        style="margin-left: 10px"
        color="accent"
        mat-raised-button
        [mat-dialog-close]="'yes'"
        cdkFocusInitial>
        {{ 'BUTTON_YES' | translate }}
      </button>
    }
    @if (okVisible === true) {
      <button
        style="margin-left: 10px"
        mat-raised-button
        [mat-dialog-close]="'ok'"
        cdkFocusInitial>
        {{ 'BUTTON_OK' | translate }}
      </button>
    }
    @if (noVisible === true) {
      <button
        style="margin-left: 10px"
        mat-raised-button
        [mat-dialog-close]="'no'"
        cdkFocusInitial>
        {{ 'BUTTON_NO' | translate }}
      </button>
    }
    @if (cancelVisible === true) {
      <button
        style="margin-left: 10px"
        mat-raised-button
        [mat-dialog-close]="'cancel'">
        {{ 'BUTTON_CANCEL' | translate }}
      </button>
    }
    @if (desistVisible === true) {
      <button
        style="margin-left: 10px"
        mat-raised-button
        [mat-dialog-close]="'cancel'">
        {{ 'BUTTON_DESIST' | translate }}
      </button>
    }
  </div>
</div>
