<div id="main-container">
  <div id="main-wrapper">
    <div id="title-container">
      <h2 class="main-title">{{ 'TITLE_HELP_GUIDE' | translate }}</h2>
    </div>
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon>close</mat-icon>
    </button>
    <div id="content-container">
      <div class="content-box">
        <div class="subtitle-container">
          <mat-icon>info</mat-icon>
          <h2 class="subtitle">{{ 'HELP_GUIDE_TIPS_TITLE' | translate }}</h2>
        </div>
        <div class="boxes-container">
          <div
            *ngFor="
              let capability of 'HELP_GUIDE_INFO.capabilities' | translate;
              let i = index
            "
            class="box">
            <div class="box-title">
              <p class="title">{{ capability.title | translate }}</p>
            </div>
            <div class="box-text">{{ capability.text | translate }}</div>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="subtitle-container">
          <mat-icon>info</mat-icon>
          <h2 class="subtitle">
            {{ 'HELP_GUIDE_PRACTICES_TITLE' | translate }}
          </h2>
        </div>
        <div class="boxes-container">
          <div
            *ngFor="
              let clearAndSpecific of 'HELP_GUIDE_INFO.clearAndSpecific'
                | translate;
              let i = index
            "
            class="box">
            <div class="box-title">
              <p class="title">{{ clearAndSpecific.title | translate }}</p>
            </div>
            <div class="box-text">{{ clearAndSpecific.text | translate }}</div>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="subtitle-container">
          <mat-icon>info</mat-icon>
          <h2 class="subtitle">
            {{ 'HELP_GUIDE_PRACTICES_2_TITLE' | translate }}
          </h2>
        </div>
        <div class="boxes-container">
          <div
            *ngFor="
              let letThink of 'HELP_GUIDE_INFO.letThink' | translate;
              let i = index
            "
            class="box">
            <div class="box-title">
              <p class="title">{{ letThink.title | translate }}</p>
            </div>
            <div class="box-text">{{ letThink.text | translate }}</div>
          </div>
        </div>
      </div>

      <div class="content-box">
        <div class="subtitle-container">
          <mat-icon>warning</mat-icon>
          <h2 class="subtitle">
            {{ 'HELP_GUIDE_LIMITATIONS_TITLE' | translate }}
          </h2>
        </div>
        <div class="boxes-container">
          <div
            *ngFor="
              let hallucination of 'HELP_GUIDE_INFO.hallucinations' | translate;
              let i = index
            "
            class="box">
            <div class="box-text">{{ hallucination | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
