<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div class="modal-container">
  @if (isChatsLoaded) {
    <div class="main-modal">
      <div class="title-container">
        <div class="title">{{ 'PROFILE_MY_PROFILE' | translate }}</div>
        <img
          class="close-profile-modal"
          alt="close icon"
          (click)="closeModal()" />
      </div>
      <div class="actual-image-user-container">
        <img
          class="image-user-prototype"
          src="/assets/pics/pax/{{ paxIconValue }}.svg"
          alt="image user" />

        @if (!isChangingAvatar) {
          <button class="btn-edit" (click)="changeAvatar()">
            <div class="text-edit">
              {{ 'PROFILE_CHANGE_AVATAR' | translate }}
            </div>
            <img class="edit-avatar-icon" alt="edit avatar icon" />
          </button>
        } @else {
          <button class="btn-edit" (click)="resetAvatar()">
            <div class="text-edit">
              {{ 'PROFILE_REMOVE_AVATAR' | translate }}
            </div>
          </button>
        }
      </div>
      @if (!isChangingAvatar) {
        <div class="option-container">
          <span class="option">{{ 'PROFILE_NAME' | translate }} : </span>
          <span class="option-detail">{{ name }} </span>
        </div>
        <div class="option-container">
          <span class="option">{{ 'PROFILE_EMAIL' | translate }} : </span>
          <span class="option-detail">{{ email }} </span>
        </div>
        <div class="option-container">
          <span class="option">{{ 'PROFILE_PROFILE' | translate }} : </span>
          <span class="option-detail"> {{ currentRole }} </span>
        </div>
        <div class="actions-container">
          <button class="button-secondary" (click)="deleteChats()">
            <span class="delete-text">{{
              'PROFILE_DELETE_CHATS' | translate
            }}</span>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      } @else {
        <div class="upload-container">
          <span>{{ 'PROFILE_UPLOAD_IMAGE' | translate }}</span>
          <button class="button-primary" (click)="uploadUserIcon()">
            <span class="delete-text">Subir</span>
            <mat-icon>cloud_upload</mat-icon>
          </button>
        </div>
        <div class="icons-container">
          @for (pax of paxList; track pax) {
            <img
              class="icon-example"
              (click)="changePhotoIcon(pax)"
              src="/assets/pics/pax/{{ pax }}.svg"
              alt="icon example" />
          }
        </div>
        <div class="final-actions">
          <button class="button-secondary" (click)="cancelUpload()">
            <span>{{ 'PROFILE_CANCEL' | translate }}</span>
          </button>
          <button class="button-primary" (click)="saveUpload()">
            <span class="text-save">{{ 'PROFILE_SAVE' | translate }}</span>
          </button>
        </div>
      }
    </div>
  } @else {
    <div class="main-modal center-spinner">
      <app-spinner [width]="35" [height]="35"></app-spinner>
    </div>
  }
</div>
